@model List<Happy.DTOs.Booking.BookingViewDto>

<h3 class="mb-3">My Bookings</h3>

<table class="table table-bordered shadow">
    <thead class="table-dark">
        <tr>
            <th>Hotel</th>
            <th>Room</th>
            <th>Dates</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.HotelName</td>
                <td>@b.RoomNumber</td>
                <td>@b.CheckIn.ToShortDateString() - @b.CheckOut.ToShortDateString()</td>
                <td>
                    <span class="badge bg-info">@b.Status</span>
                </td>
                <td>
                    @if (b.Status == "Pending")
                    {
                        <a class="btn btn-danger btn-sm" href="/Booking/Cancel/@b.Id">Cancel</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    

</table>
